* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search_delete {
  background-color: white;
  border: none;
}
.list-index {
  margin-right: 6px;
}
.header-wrap-2 {
  display: flex;
  padding-top: 50px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  width: 800px;
}
.search-box {
  border-bottom: 3px solid #000;
  flex: none;
  flex-grow: 1;
  order: 0;
  padding-bottom: 16px;
}
.search-box input {
  width: 770px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 29px;
  overflow: hidden;
  padding: 0 13px 0 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  outline: 0;
  resize: none;
}
.search-box button {
  float: right;
  height: 24px;
  margin-right: 3px;
  margin-top: 3px;
  width: 24px;
}
.close-overlay {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 14px;
}
.close-overlay img {
  width: 100%;
  height: 100%;
}
.main-wrap {
  margin-top: 20px !important;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  width: 800px;
}
.recommend-wrap {
  padding-bottom: 40px;
}
.recommend-wrap .recommend-term {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}
.recommend-wrap .recommend-list {
  line-height: 13px;
}
.recommend-wrap .recommend-list li {
  background: #f4f4f4;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  color: rgba(34, 34, 34, 0.8);
  display: inline-block;
  font-size: 14px;
  letter-spacing: -0.21px;
  margin: 0 8px 12px 0;
  max-width: 142px;
  overflow: hidden;
  padding: 8px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ranking-wrap {
  padding-bottom: 40px;
}
.ranking-wrap .ranking-term {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}
.ranking-term .time {
  color: rgba(34, 34, 34, 0.8);
  display: inline;
  font-size: 13px;
  margin-left: 5px;
  font-weight: lighter;
}
.ranking-list {
  column-count: 2;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
}
.ranking-list .li {
  cursor: pointer;
  display: flex;
  padding: 4px 0 16px;
  color: #222222;
}
.collabo-wrap {
  margin-bottom: 56px;
  padding-bottom: 40px;
}
.collabo-wrap .collabo-title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}
.collabo-wrap .collabo-list {
  column-count: 2;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
}
.collabo-wrap .collabo-list li {
  cursor: pointer;
  display: flex;
  padding: 4px 0 16px;
}
.li {
  font-weight: lighter;
}
#search::placeholder {
  font-size: 20px;
  font-weight: lighter;
  color: #bcbcbc;
}
