.shortcut-section {
  border-top: 2px solid #e5e5e5;
  max-width: 1280px;
  margin: 0 auto;
}
.shortcut-wrap {
  margin: 40px 0 56px 0;
}
.shortcut-item-wrap {
  margin-top: 16px;
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
  row-gap: 16px;
}
.shortcut-item {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.item-img-wrap {
  height: 100px;
  position: relative;
}
.item-img {
  background-color: rgb(244, 244, 244);
  border-radius: 9px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-image: url("/images/나이키.jpg");
  background-position: center;
  background-size: cover;
}
.shortcut-item-title {
  font-size: 14px;
  letter-spacing: -0.21px;
  color: #222;
  margin-top: 4px;
}

.banner {
  margin-bottom: 56px;
  margin-top: 40px;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  cursor: pointer;
  max-height: 480px;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out;
  vertical-align: top;
}
.banner_item#bannerOne {
  background-color: rgb(40, 41, 33);
  position: relative;
}
.banner_item#bannerTwo {
  background-color: #a4b5c8;
  position: relative;
}

.item_inner {
  margin: 0 auto;
  max-height: 480px;
  width: 45vw;
}
.img_box {
  padding-top: 100%;
  position: relative;
}
.banner_img {
  height: 100%;
  left: 50%;
  max-height: 480px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
